<nav class="flex justify-between items-center py-4 max-w-5xl mx-auto">
  <a href="/" class="hover:opacity-80 transition-opacity active:scale-95">
    <img src="/favicon.svg" alt="Logo" width="40" height="40" />
  </a>
  <div class="flex items-center space-x-8 text-sm font-medium">
    <a href="/posts" class="text-slate-600 hover:text-blue-600 hover:bg-blue-50 hover:shadow-[0_0_15px_rgba(59,130,246,0.5)] rounded-full duration-300 px-3 py-2 transition active:scale-95 rounded_md">归档</a>
    <a href="/about" class="text-slate-600 hover:text-blue-600 hover:bg-blue-50 hover:shadow-[0_0_15px_rgba(59,130,246,0.5)] rounded-full duration-300 px-3 py-2 transition active:scale-95 rounded_md">关于</a>
  </div>
</nav>